::ng-deep .dx-datagrid .dx-data-row > td.bullet {
  padding-top: 0;
  padding-bottom: 0;
  color: beige;
}

.accepte{
  background-color:aquamarine;
}
.refuse{
  background-color: red;
}
.cours{
  background-color: rgba(255, 245, 158, 0.667);
}
